.input-cell {
  border: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18pt;
  caret-color: transparent;
}
::selection {
  background: transparent;
}

.wrong {
  color: indianred;
}

.notes {
  text-align: left;
  position: relative;
  display: block;
}

.note {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 3pt;
  z-index: 5;
  color: cornflowerblue;
  font-weight: bolder;
  font-size: 10pt;
}

.fonts {
  font-family: "DejaVu Sans", sans-serif;
}
