<div class="fonts d-inline-block" ngbDropdown container="body">
  <div class="notes">
    <div class="note">{{cell.note}}</div>
  </div>
  <input #input
         ngbDropdownToggle
         class="input-cell"
         type="text"
         [disabled]="disabled"
         [class.wrong]="cell.wrong"
         [(ngModel)]="cell.number"
         (focus)="select()"
         (keydown)="selectNumber($event.target.value)"
  >
<!--  <button ngbDropdownToggle></button>-->

  <app-number-pad (selectedNumber)="selectNumber($event)" (selectedNote)="selectNote($event)">

  </app-number-pad>
</div>
