<div ngbDropdownMenu class="dropdown-menu dropdown-menu-dynamic">

  <table>
    <tr *ngFor="let row of [1, 2, 3]">
      <td *ngFor="let number of cols(row)">
        <button (click)="select(number)"
                (contextmenu)="makeNote(number)"
                ngbDropdownItem
        >
          {{number}}</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button ngbDropdownItem

                (click)="select(0)"
                (contextmenu)="makeNote(null)"
                aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
  </table>
  <span class="small">right click for note</span>
</div>
