table {
  border: 3px solid #000000;
  border-collapse: collapse;
  margin: 1em auto;
}

td {
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
}

td:first-child {
  border-left: solid;
}

td:nth-child(3n) {
  border-right: solid;
}

tr:first-child {
  border-top: solid;
}

tr:nth-child(3n) td {
  border-bottom: solid;
}

.solution {
  /*text-align: right;*/
  font-family: sans-serif;
}

table.win{
  color: darkgreen;
}

.congratulations {
  text-align: center;
  font-size: large;
  font-family: "DejaVu Sans", sans-serif;
}
