<div class="container">
  <div *ngIf="win" class="congratulations"><span>Congratulations!</span></div>
  <div class="row">
    <div class="col justify-content-center">
      <table [class.win]="win">
        <tr *ngFor="let row of field; let rowIndex = index;">
          <td *ngFor="let cell of row; let colIndex = index;">
            <app-cell [row]="rowIndex" [col]="colIndex" [cell]="cell"
                      [disabled]="cell.disabled || disabled"
                      (keydown.arrowup)="prevent($event)"
                      (keydown.arrowleft)="prevent($event)"
                      (keydown.arrowdown)="prevent($event)"
                      (keydown.arrowright)="prevent($event)"
                      (keyup.arrowup)="navigate($event,rowIndex,colIndex,-1,0)"
                      (keyup.arrowleft)="navigate($event, rowIndex, colIndex, 0, -1)"
                      (keyup.arrowdown)="navigate($event, rowIndex, colIndex, 1, 0)"
                      (keyup.arrowright)="navigate($event, rowIndex, colIndex, 0, 1)"
                      (changed)="setValue($event, rowIndex, colIndex)"
                      [win]="win"
            >
            </app-cell>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--<div class="row">
    <div class="col">
      <div class="form-check text-sm-center">
        <input [(ngModel)]="showField" class="form-check-input" type="checkbox" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Show solution
        </label>
      </div>

      <div class="fonts d-inline-block" ngbDropdown>

        <input #input
               ngbDropdownToggle
               id="dropdownBasic2"
               class="input-cell"
               type="text"
               [disabled]="disabled"
        >
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <table>
            <tr>
              <td>
                <button ngbDropdownItem>
                  x
                </button>
              </td>
            </tr>
          </table>
          <span  style="font-size: xx-small">right click for note</span>
        </div>

      </div>

    </div>
  </div>-->
  <div class="row">
    <div class="col">
      <div *ngIf="showField">
        <table>
          <tr *ngFor="let row of sizeArray">
            <td *ngFor="let col of sizeArray">
              <app-cell [row]="row" [col]="col" [cell]="field.fulled[row][col]" [disabled]="true"></app-cell>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
